*{
    box-sizing: border-box;
}
/*#timing{
    margin-right: 2rem !important;
    background-color: rgba(231, 128, 9, 0.692);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    font-size: 0.7rem;
    padding:0.7rem;
    cursor:default;
}*/
.navbar{
    background-color: rgb(20, 18, 18)!important;
    margin-top: 0;
    
    
}
.navbar-brand{
    cursor:default;
}

#nav2{
    font-family: roboto;
    
    
    
    
   
}

#nav2 a{
    margin-right: 2rem !important;
    color: white;
  
    
}
#items a:hover{
    color: #de1f82!important;
}


#items{
     margin-left:38rem !important;
     
}
#coverimage 
{
    background-color: black;
}
#coverimage img{

    width: 800px !important;;
    height: 500px!important;;
    margin-left: auto!important;
    margin-right: auto !important;
}






.container{
    margin-top: 3rem !important;

}

.row{
    justify-content:center;
    
}
.card{
    margin:1rem;
    border:none;
  
}
.card:hover{
transform: scale(1.05);
cursor:default;
box-shadow: 0 10px 20px rgba(16, 1, 20, 0.12), 0 4px 8px rgba(130, 55, 151, 0.12);
}


.card img{
    margin-top: 0.8rem !important;
}
.card-title{
    /*text-align: center;*/
    color:rgb(66, 16, 66);
    font-style:roboto,Lemonade,Courier;
    font-weight: bold;
    font-size: 1.5rem;
}
 
 .card-text{
    color: rgb(87, 4, 87);
    font-style: roboto;
    
  
    
  }
  .btn{
    background-color:rgb(87, 4, 87); 
    border:white;
  }
  .btn:hover{
    background-color:rgb(87, 4, 87);
  }
  .pierce{
      margin-top: 4.2rem;
  }

  .form-control{
      border-radius:3rem;
      border-color:rgb(87, 4, 87) ;
      width:17rem;
     font-family: "FontAwesome";
     
     
      
  }






  /*MEDIA QUERY SECTION*/
  @media only screen and (max-width: 500px) {
    #items {
        margin-left:0rem !important;
        
        
   }
   #coverimage img{
   max-width: 100%;
   height:auto;

 }
   
  
  }

 