@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab&display=swap');

*{  
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
/*#timing{
    margin-right: 2rem !important;
    background-color: rgba(231, 128, 9, 0.692);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    font-size: 0.7rem;
    padding:0.7rem;
    cursor:default;
}*/
/*PRELOADER GIF*/
.navbar{
    
    margin-top: 0;
    
    
}
.navbar-brand{
    cursor:default;
    color: white!important;
}

#nav2{
    font-family: roboto;
    background-color: rgba(4, 54, 4, 0.726)!important;    
    
    
    
   
}

#nav2 a{
    margin-right: 2rem !important;
   color: hsl(103, 64%, 87%);
   
  
    
}
#items a:hover{
    color:rgb(182, 156, 12);

}


#items{
     margin-left:38rem !important;
     
}
/*#coverimage 
{
    background-color: hsla(103, 64%, 87%, 0.788);
    background-image:url(https://absolutely.london/wp-content/uploads/2018/09/HERO-TAKE-2.jpg)!important;
    background-size: cover;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    

}
#centeralign{
   
    

}
#coverimage img{

    width: 800px !important;;
    height: 500px!important;
    margin-left: auto!important;
    margin-right: auto !important;

}*/
.banner{
    height:580px;
    background-color: hsla(103, 64%, 87%, 0.788);
    background-image: url('https://theparkskinclinic.ie/wp-content/uploads/revslider/home-1/slide1.jpg');
   background-repeat: no-repeat;
    background-size: cover!important;
    background-position: center;
    background-attachment: fixed;
    overflow:hidden;
}
.bannercontent{
   background: rgba(7, 71, 7, 0.315)!important; 
    overflow: hidden;
    height: 100%;
    z-index: 2;

    
    
}







/*.container{
    margin-top: 3rem !important;

}*/




.titlehead{
    text-align: center;
    padding-top: 2.8rem;
    padding-bottom:1.3rem;
    padding-left: 0px;
    padding-right: 0px;
    text-transform: capitalize!important;
    color: rgb(36, 34, 34);
    font-family: 'Source Sans Pro', sans-serif ,Roboto,Railway;  
    font-size:3rem;
    
}

#aboutcontainer{

    padding:2rem;
    padding-top: 0.5rem;
    
   
    
}
#aboutinner{
    padding:1rem;

}
#aboutbody{
    padding:1rem;
    padding-top: 0.5rem;
    text-align: left;
    font-size: 1.3rem;
    display:flex;
    margin: 1rem;
    align-items: center;
}
#aboutbody img{
 margin: 1rem;
 width: 500px;
 height: auto;

}

#servicecontainer{
    display: flex;
    align-items: center;
    


}
#service-items{
    display:inline-block;
    
    
   

}
 a{
    text-decoration: none;
    color:black;
    cursor: pointer;
}
a:hover{
    color:black;
}
.item{
    display: flex;
    
    margin:2rem;
    
    
}
.item img{
    
    margin:1rem;
}
.item-name h5{
    margin:1rem;
    
    
}
#service-image img{
    max-width: 100%;
    height:400px;
    
}

.item-name p{
    margin-left: 1rem;
    margin-top: 0.5rem;
} 
.hright{
    text-align:start!important; 
}


/*GALLERY SECTION*/
.gallery{
    margin-top: 5rem;
   align-items: center;

}
.gallery img{
 height:17rem;
 width:17rem;
 padding:1rem;
 /*border: solid rgb(85, 88, 85) 1px;*/
 margin-bottom: 1rem;
 box-shadow: 10px 10px 8px #888888;
 
}
.carousel-indicators{
left:0;
top:auto;
bottom: -70px;
}
.carousel-indicators li{
    background: rgb(102, 145, 111);
    border-radius: 50%;
    width:12px;
    height:0px;
    
}
.carousel-indicators .active{
    background: rgb(5, 34, 5);
}

#phone{
    display: none;
}

.milestones{
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/387eb18b-ab74-4503-a97f-b5e6143eb21d/d2eybzq-986ca967-9887-4244-8deb-4f04d43f47bd.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM4N2ViMThiLWFiNzQtNDUwMy1hOTdmLWI1ZTYxNDNlYjIxZFwvZDJleWJ6cS05ODZjYTk2Ny05ODg3LTQyNDQtOGRlYi00ZjA0ZDQzZjQ3YmQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.JGl1K9rfDp9tW8vCn0FuCi2PsM9srZYLRQIje7eZnRw');
    background-repeat: no-repeat;
    background-size: cover!important;
    background-position: center;
    height:auto;
    margin-top: 6rem;
    padding-bottom: 2rem;
    align-items: center;
 
}
.mile-head{
    color:rgb(161, 138, 7)!important;
    margin-bottom: 2rem;
   
}

.counter-box p{
    font-size: 20px;
    color:rgb(161, 138, 7);
}
/*.counter-box i{
   
}*/
.mile-box {
    /*border:1px solid rgb(161, 138, 7);*/
    color:rgb(161, 138, 7);

    
}
.mile-box .fas{
    font-size: 28px;
    color:rgb(161, 138, 7);
}












 




/*MEDIA QUERY SECTION*/
  @media only screen and (max-width: 600px) {
   
    .milestones{
        background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/387eb18b-ab74-4503-a97f-b5e6143eb21d/d2eybzq-986ca967-9887-4244-8deb-4f04d43f47bd.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM4N2ViMThiLWFiNzQtNDUwMy1hOTdmLWI1ZTYxNDNlYjIxZFwvZDJleWJ6cS05ODZjYTk2Ny05ODg3LTQyNDQtOGRlYi00ZjA0ZDQzZjQ3YmQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.JGl1K9rfDp9tW8vCn0FuCi2PsM9srZYLRQIje7eZnRw');
        background-repeat: no-repeat;
        background-size: cover!important;
        background-position: center;
        height:auto;
        margin-top: 6rem;
        padding-bottom: 2rem;
        align-items: center;
     
    }
    
    
    .counter-box {
        /*border:1px solid rgb(161, 138, 7);*/
        margin-bottom: 2.5rem;
    
        
    }
    .mile-box .fas{
        font-size: 28px;
        color:rgb(161, 138, 7);
    }
    
    
    
    
    






 
    .gallery{
        margin-top: 5rem;
       align-items: center;

    
    }
    .gallery img{
     height:18rem;
     width:18rem;
     padding:0.5rem;
     /*border: solid rgb(85, 88, 85) 1px;*/
     margin-bottom:0px;
     box-shadow: 5px 5px 4px #888888;
     
    }
    .carousel-indicators{
    left:0;
    top:auto;
    bottom: -50px;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    }
    .carousel-indicators li{
        background: rgb(102, 145, 111);
        border-radius: 50%;
        width:12px;
        height:0px;
        
    }
    .carousel-indicators .active{
        background: rgb(5, 34, 5);
    }
    
#laptop{
    display:none;
}
#phone{
    display:inline-block;
    background: white;
}
   
   
   
   
   
   
   
    #items {
        margin-left:0px !important;
        
        
   }
  /* #coverimage img{
   max-width: 100%;
   height:800px;
   object-fit:contain;

 }*/


#tthead{
    font-size: 2rem;
}
.titlehead{
    text-align: center;
    padding-top: 1.7rem;
    padding-bottom: 1rem;
    padding-left: 0px;
    padding-right: 0px;
    text-transform: capitalize!important;
    color: rgb(36, 34, 34);
    font-size:2rem;
    
    
}
.banner{
    background-color: hsla(104, 25%, 71%, 0.788);
    background-image: url('images/finalbanner.jpg');
   background-repeat: no-repeat;
    background-size: cover!important;
    background-position:right;
    background-attachment: fixed;
    overflow:hidden;
    
    

    
}




#aboutcontainer{

    padding-bottom:1rem;
    
   
    
}
#aboutinner{
    padding-bottom:1rem;
}
#aboutbody{
    padding-bottom:0;
    text-align: center;
    font-size: 1rem;
    padding:0.5rem;
    flex-direction: column;
    margin:0;
  

}
#aboutbody img{
    max-width: 300px;
    height: auto;
    margin-top: 0rem;
}

/*SERVICE RESPONSIVE PORTION*/
#servicecontainer{
flex-direction: column;
}
#service-image img{
    max-width:100%;
    height:300px;
}
.item{
    flex-direction: column;
}
.item img{
    height:5rem;
    width:5rem;
    

}

}










/*.titlehead:after{
border-bottom:solid 3px #de1f82;
content:'';
display:block;
width:50%;
margin-left:25%;

}*/

  


@media only screen and (min-width: 1200px) and (max-width:1900px ) {

    #items{
        margin-left:30rem !important;
        
   }


}

 